<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}eNoticeBoard | 2516 (Droitwich) Squadron{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        <script>
            window.mercureHub = '{{ mercure(url('_api_slides_get_collection'), { subscribe: url('_api_slides_get_collection') }) | escape('js') }}';
        </script>

        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {% block body %}
        <div id="app"></div>
    {% endblock %}
</body>
</html>
