<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}eNoticeBoard | 2516 (Droitwich) Squadron{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        <script>
            {% set topics = [
                url('_api_slides_get_collection'),
                url('_api_/authorisation-requests/{code}{._format}_get', { code: '{code}' })
            ] %}

            window.mercureHub = '{{ mercure(topics, { subscribe: topics }) | escape('js') }}';
        </script>

        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {% block body %}
        <div id="app"></div>
    {% endblock %}
</body>
</html>
